#thank.popup
  a.popup__close.link.link--sm(href='#')
    +svg('icon-chevron')
    | НАЗАД

  .form
    h2 Форма отправлена
    .form__text Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную рол
    .form__inputs
      .center
        a.link(href='#')
          | НА ГЛАВНУЮ
          +svg('icon-right')

