#callback.popup.popup--full

  a.popup__close.link.link--sm(href='#')
    +svg('icon-chevron')
    | НАЗАД
  .form
    h2 Свяжитесь с нами
    .form__text Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную рол
    .form__inputs
      .form__input
        label.input
          input(placeholder='Как к вам обращаться?')
          .input__label КАК К ВАМ ОБРАЩАТЬСЯ?
      .form__input
        label.input
          input(placeholder='E-mail')
          .input__label E-MAIL
      .form__input
        label.input
          input(type='tel' placeholder='Ваш телефон')
          .input__label ВАШ ТЕЛЕФОН

    .form__footer
      .form__info
        | Отправляя форму, вы даете#[br]
        | на согласие на обработку #[a(href='#') персональных данных]#[br]
        | и согласны с #[a(href='#') политикой конфидициальности]
      .form__button
        button.link
          | ОТПРАВИТЬ
          +svg('icon-right')


