.project
  .project__block1
    .c
      .project__text1
        p Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий.
        p Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
  .project__block2
    .project__image2(style='background-image: url(images/11.jpg)')

  .project__block3
    .project__decor3.texture
    .project__image3(style='background-image: url(images/05.jpg)')
    .c
      .project__text3
        h2 Maecenas tempus
        p Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
      .project__slider3
        .project__slider
          .project__items
            .project__item(style='background-image: url(images/05.jpg)')
            .project__item(style='background-image: url(images/06.jpg)')
            .project__item(style='background-image: url(images/07.jpg)')
        .project__nav.nav
          button.nav__button.nav__button--prev: +svg('icon-chevron')
          button.nav__button.nav__button--next: +svg('icon-chevron')

  .project__block4
    .c
      .project__text4
        p Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий.
        p Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.

  .project__block5
    .project__decor5.texture
    .c
      .project__image5(style='background-image: url(images/09.jpg)')
