.search
  h1 Поиск по сайту

  .search__form
    form
      .input
        input(placeholder='Введите запрос для поиска')
        .input__label Введите запрос для поиска
        button.search__button: +svg('icon-search')

  .search__items
    .search__item
      .search__title Название статьи в которой есть ключевые слова
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...
    .search__item
      .search__title Название статьи в которой есть ключевые слова
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...
    .search__item
      .search__title Название статьи в которой есть ключевые слова
      .search__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes ...
