.team
  .team__decor1.texture
  .team__decor2.texture
  .c
    .team__text
      p С другой стороны дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки систем массового участия. С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки новых предложений.

    .team__items
      each i in [1,2,3,4,5,6]
        .team__item
          .team__image(style='background-image: url(images/team.jpg)')
          .team__name Константин#[br]Константинопольский
          .team__position креативный директор

