.c
  .partners
    .partners__decor1.texture
    .partners__decor2.texture
    .partners__items
      each i in [1]
        .partners__item
          .partners__image: img(src='images/uverennyj-biznesmen.jpg')
          .partners__text
            p “Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации направлений прогрессивного развития.”
          .partners__name Константин Константинопольский
          .partners__position партнер

        .partners__item
          .partners__image: img(src='images/uverennyj-biznesmen.jpg')
          .partners__text
            p “Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации позиций.”
          .partners__name Константин Константинопольский
          .partners__position партнер

        .partners__item
          .partners__image: img(src='images/uverennyj-biznesmen.jpg')
          .partners__text
            p “Не следует, однако забывать, что постоянное информационно- пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации..”
          .partners__name Константин Константинопольский
          .partners__position партнер

        .partners__item
          .partners__image: img(src='images/uverennyj-biznesmen.jpg')
          .partners__text
            p “Идейные соображения высшего порядка, а также укрепление и развитие структуры.”
          .partners__name Константин Константинопольский
          .partners__position партнер

