.head
  position: relative;
  background-size: cover
  background-position: 50% 50%
  min-height: 450px
  padding-bottom: 85px
  padding-top: 150px
  display: flex;
  align-items flex-end
  //+media('lg')
  //  min-height: 600px
  +media('md')
    padding-bottom: 44px
    padding-top: 40px
    min-height 280px

  &:before
    content: ''
    position: absolute;
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYUAAAABCAYAAAAxdbIyAAAAG0lEQVR4AWP4//8/r3uBD8MoHsWjeBSP4lEMACv3i6ZFyGkgAAAAAElFTkSuQmCC') 50% 50%, linear-gradient(49deg, #191919, rgba(#191919, 0.85), #191919)

  .c
    position: relative;
    z-index: 1
    height: 100%
    +media('md')
      padding: 0 20px

  &__label
    //font-family: 'Ubuntu', sans-serif
    font-size: 11px
    background: #ffffff
    letter-spacing .2em
    padding: 2px 7px 3px
    margin-bottom: 20px
    margin-left: 70px
    display: inline-block;
    +media('md')
      font-size: 8px
      padding: 0px 4px
      margin-bottom: 18px
      margin-left: 0

  h1
    color: #ffffff
    font-weight: 800
    font-size: 66px
    line-height: 1.2
    letter-spacing .01em
    margin: 0
    border-left: 1px solid #e33535
    padding-left: 65px
    padding-right: 200px
    +media('lg')
      font-size: 40px
      padding-right: 100px
    +media('md')
      font-size: 28px
      padding-left: 40px
      padding-right: 0
