.info
  .info__decor1.texture
  .info__decor2.texture

  .c
    .info__block1
      .info__item1
        .info__item1-icon: +svg('icon-cog')
        .info__item1-title Преимущество
        .info__item1-text Таким образом постоянный количественный рост
      .info__item1
        .info__item1-icon: +svg('icon-cog')
        .info__item1-title Преимущество
        .info__item1-text Таким образом постоянный количественный рост
      .info__item1
        .info__item1-icon: +svg('icon-cog')
        .info__item1-title Преимущество
        .info__item1-text Таким образом постоянный количественный рост

  .info__block2
    .info__title2 ЦИФРЫ
    .c
      .info__text2
        h2 Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum
        p Разнообразный и богатый опыт начало повседневной работы по формированию позиции требуют определения и уточнения существенных финансовых и административных условий.
        p Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
    .info__img2(style='background-image: url(images/09.jpg)')

  .info__block3(style='background-image: url(images/11.jpg)')
    .c
      .info__item3
        .info__item3-title 250
        .info__item3-text Реализованных #[br]проектов
      .info__item3
        .info__item3-title 437
        .info__item3-text Созданных #[br]планов
      .info__item3
        .info__item3-title 129
        .info__item3-text Довольных #[br]клиентов

  .info__block4
    .info__title4 СМОТРЕТЬ ПРОЕКТЫ
    .info__img4(style='background-image: url(images/05.jpg)')
    .info__decor3.texture
    .c
      .info__text4
        h2 Maecenas tempus
        p Идейные соображения высшего порядка, а также укрепление и развитие структуры в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании форм развития.

  .info__block5
    .info__decor4.texture

    .c
      .info__advantages
        .info__advantages-title Преимущества
        .info__advantages-slider
          .info__advantages-items
            .info__advantages-item Таким образом постоянный количественный рост
            .info__advantages-item Таким образом постоянный количественный рост
            .info__advantages-item Таким образом постоянный количественный рост
          .info__advantages-pagination

        .info__link
          a.link(href='#')
            | ПОСМОТРЕТЬ ПРОЕКТЫ
            +svg('icon-right')

      .info__files
        a.info__file(href='#')
          +svg('icon-file')
          .info__file-name Название документа
          .info__file-meta PDF, 7MB
        a.info__file(href='#')
          +svg('icon-file')
          .info__file-name Название документа
          .info__file-meta PDF, 7MB
        a.info__file(href='#')
          +svg('icon-file')
          .info__file-name Название документа
          .info__file-meta PDF, 7MB

