.article
  .c
    a.article__back.link.link--sm(href='#')
      +svg('icon-chevron')
      | НАЗАД К ПУБЛИКАЦИЯМ

    h1 Заголовок артикула в блоге
    .article__sub
      p Задача организации, в особенности же сложившаяся структура организации позволяет оценить значение форм развития.
    .article__thumbnail
      img(src='images/09.jpg')
      .article__decor4.texture

    .article__content
      .article__card
        a.card(href='#')
          .card__image(style='background-image: url(images/01.jpeg)')
          .card__title: span Название новости одна или две строки Название новости одна или две строки Название новости одна или две строки
          .card__body
            .card__text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя

      .article__text
        p Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании новых предложений. Повседневная практика показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки модели развития.
        p Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание соответствующий условий активизации. Равным образом начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития.
        p Не следует, однако забывать, что дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Задача организации, в особенности же постоянный количественный рост и сфера нашей активности способствует подготовки и реализации соответствующий условий активизации.
        .article__tags
          .tags
            a.tag(href='#') ТЭГ
            a.tag(href='#') ДЛИННЫЙ ТЭГ
            a.tag(href='#') ОЧЕНЬ ДЛИННЫЙ ТЭГ

  .article__decor1.texture
  .article__decor2.texture
  .article__decor3.texture
