.meta
  .meta__decor1.texture
  .meta__decor2.texture
  .meta__decor3.texture
  .c
    .meta__year
      .meta__icon: +svg('icon-calendar')
      .meta__label Год
      .meta__value 2017
    .meta__position
      .meta__icon: +svg('icon-geo')
      .meta__label Расположение
      .meta__value Название города, Страна
    .meta__info
      .meta__label Разработчики, люди
      .meta__value
        ul
          li Петров Иван Николаевич
          li Иванов Николай Петрович
  .meta__link: a.link(href='#')
    | ПУБЛИКАЦИЯ
    +svg('icon-right')
