.projects
  .projects__filter
    .projects__filter-title Фильтры
    .tags
      a.tag.tag--active(href='#') ВСЕ
      a.tag(href='#') ОБРАЗОВАНИЕ
      a.tag(href='#') МЕДИЦИНА
      a.tag(href='#') КУЛЬТУРА

  .projects__items
    - var items = ['Железнодорожный терминал в Северном терминальном компликсе аэропорта Шереметьево', 'Остановочный пункт Баковка', 'Остановочный пункт Водники', 'Остановочный пункт Дегунино', 'Остановочный пункт Долгопрудная', 'Остановочный пункт Илимская', 'Остановочный пункт Новодачная', 'Остановочный пункт Хлебниково', 'Остановочный пункт Внуково', 'Остановочный пункт Матвеевская', 'Остановочный пункт Мичуринец', 'Учебный центр профессиональной квалификации']
    each text, i in items
      a.projects__item(href='#' style='background-image: url(images/0' + (i % 8 + 2) + '.jpg)')
        .projects__content
          .projects__address
            +svg('icon-geo')
            | Рязань, Россия
          .projects__title=text
          .projects__more
            |ПОДРОБНЕЕ
            +svg('icon-right')
