footer.footer
  .c
    .footer__top
      .footer__info Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      .footer__main
        .footer__menu
          ul
            li: a(href='#') Проекты
            li: a(href='#') Публикации
            li: a(href='#') Контакты
        .footer__block.footer__block--menu
          .footer__header Компания
          ul
            li: a(href='#') О компании
            li: a(href='#') Качество и отвественность
            li: a(href='#') Партнеры
            li: a(href='#') Наша команда
      .footer__block.footer__block--contacts
        .footer__header Контакты
        p
          a(href='#') +7 796 547-65-34
          br
          a(href='#') hello@proenengineering.ru

    .footer__contact
      .footer__contact-header Будем на связи
      .footer__contact-text Задача организации, в особенности же постоянный количественный рост и сфера нашей активности
      form
        .footer__form
          span: input.footer__input(placeholder='E-mail')
          button.footer__button ОТПРАВИТЬ


  .footer__bottom
    .c
      .footer__copyright Name © 2020
      a.footer__politic.popup__opener(href='#politic') Политика конфиденциальности
