/*!!
 * Theme Name: archsmart
 */

@import "destyle.css/destyle.css"
//@import "nouislider/distribute/nouislider.css"
//@import "@chenfengyuan/datepicker/dist/datepicker.css"

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@import "stylus/blocks/btn.styl";
@import "stylus/blocks/checkbox.styl";
@import "stylus/blocks/common.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/navBtn.styl";
@import "stylus/blocks/radio.styl";
@import "stylus/blocks/select.styl";
//@import "stylus/blocks/slider.styl";
@import "stylus/blocks/typography.styl";
@import "stylus/blocks/card.styl";

@import "modules/header/header.styl";
@import "modules/footer/footer.styl";
@import "modules/slide/slide.styl";
@import "modules/menu/menu.styl";
@import "modules/about/about.styl";
@import "modules/info/info.styl";
@import "modules/partners/partners.styl";
@import "modules/team/team.styl";
@import "modules/projects/projects.styl";
@import "modules/head/head.styl";
@import "modules/meta/meta.styl";
@import "modules/project/project.styl";
@import "modules/related/related.styl";
@import "modules/articles/articles.styl";
@import "modules/article/article.styl";
@import "modules/contacts/contacts.styl";
@import "modules/form/form.styl";
@import "modules/notFound/notFound.styl";
@import "modules/popup/mfp.styl";
@import "modules/popup/popup.styl";
@import "modules/search/search.styl";

@import "stylus/blocks/wpcf7.styl";
